@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Poppins";
}

/*=============================================
  =                                  =
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins";
  }
  =============================================*/
/*  seccion header    */
.header__logo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.header__logo img {
  width: 4rem;
  margin-right: 10px;
  border-radius: 10px;
}

.header__logo--text {
  font-size: 30px;
  font-weight: 500;
}

/*  seccion principal novedades    */
.main__novedades {
  display: flex;
}

.main__novedades__principal {
  width: 60%;
}

.main__novedades--titulo {
  font-size: 30px;
  font-weight: 600;
  margin-top: 2rem;
}

.main__novedades--card img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.novedades__card--info {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
  color: black;
}

a {
  text-decoration: none;
}

.card__autor--logo {
  display: flex;
  align-items: center;
}

.card__autor--logo img {
  width: 4rem;
  margin-right: 10px;
  border-radius: 100%;
}

/*  Seccion  segundaria Novedades    */
.mian__novedades__segundario {
  width: 40%;
  margin-top: 105px;
  margin-left: 20px;
}

.novedades__card img {
  width: 18rem;
  border-radius: 15px;
  margin-bottom: 15px;
}

.novedades__card {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.novedades__card--image {
  display: inline-block;
}

.novedades__card--container {
  flex-direction: row;
  align-items: center;
}

.novedades__card--text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 10px;
}

.novedades__card--date {
  font-size: 15px;
  font-weight: 400;
}

.novedades__card--author {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  gap: 5px;
}

.novedades__card--author img {
  width: 2rem;
  border-radius: 100%;
}

/*  main seccion populares    */
.main__seccion {
  display: flex;
}

.main__seccion-70 {
  display: column;
  width: 70%;
}

/*  seccion populares    */
.seccion__populares--titulo {
  display: flex;
}

.populares {
  display: inline-flex;
  flex-wrap: wrap;
}

.populares__card {
  display: column;
}

.populares__card--image {
  display: inline-block;
  margin-right: 20px;
}

.populares__card--image img {
  width: 25rem;
  border-radius: 15px;
  margin-bottom: 0, 5rem;
}

.populares__card--date {
  font-size: 15px;
  font-weight: 400;
}

.populares__card--text {
  font-size: 22px;
  font-weight: 700;
  margin-top: 8px;
  margin-bottom: 30px;
}

.populares__card--author {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.populares__card--author img {
  width: 2rem;
  margin-right: 10px;
  border-radius: 100%;
}

/*  Seccion Categoria   */
.main__seccion-30 {
  width: 30%;
  display: column;
  align-items: center;
}

.categorias {
  flex-direction: row;
  align-content: center;
}

.categorias__card-logo img {
  width: 5rem;
  object-fit: cover;
}

.categorias__card-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 1rem;
}

/*    colores fondo       */
.categorias-cards-color--naranjo {
  width: 90%;
  border-radius: 15px;
  background-color: #e93e30;
  margin-bottom: 20px;
}

.categorias-cards-color--amarillo {
  width: 90%;
  border-radius: 15px;
  background-color: #f7e018;
  margin-bottom: 20px;
}

.categorias-cards-color--celeste {
  width: 90%;
  border-radius: 15px;
  background-color: #299ed5;
  margin-bottom: 20px;
}

.categorias-cards-color--negro {
  width: 90%;
  border-radius: 15px;
  background-color: #292c33;
  margin-bottom: 20px;
}

.categorias-cards-color--verde {
  width: 90%;
  border-radius: 15px;
  background-color: #67c770;
  margin-bottom: 20px;
}

.categorias-cards-color--morado {
  width: 90%;
  border-radius: 15px;
  background-color: #563d7c;
  margin-bottom: 20px;
}

/*  footer    */
.footer__logo {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer__logo img {
  width: 4rem;
  margin-right: 10px;
  border-radius: 10px;
}

.footer__date--text {
  margin-left: auto;
}

.footer__logo--text {
  font-size: 30px;
  font-weight: 500;
}

.suscribete {
  width: 45rem;
  background-color: #66b335;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.suscribete__button {
  margin-top: 90px;
}

.brand-container__image {
  border-radius: 10px;
  box-shadow: 10px 10px 7px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 7px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 7px -6px rgba(0, 0, 0, 0.75);
}

h1 {
  font-size: 1.5rem;
}

.brand-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.brand-container__image {
  width: 3rem;
  height: 3rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: clamp(500px, 40%, 700px);
  padding: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

main {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.buttons-container__button {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}

.buttons-container__image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100%;
}

.buttons-container__button--login {
  background-color: green;
  color: white;
}

.buttons-container__button--google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: white;
}

.buttons-container__register-text {
  text-align: center;
}

.buttons-container__register-link {
  font-weight: 800;
  color: black;
}

.input-container__title {
  text-align: center;
  font-weight: 500;
}

.input-container__input {
  font-size: 1.2rem;
  font-weight: 100;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 0.5rem;
}

.input-container__input {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 100%;
  height: 3rem;
}

.checkbox-container__checkbox-input {
  width: 1.5rem;
  height: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
